.svg-icon--audio-dark { background-image: url('png/audio-dark.png'); background-repeat: no-repeat; }

.svg-icon--audio-light { background-image: url('png/audio-light.png'); background-repeat: no-repeat; }

.svg-icon--email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.svg-icon--gallery-dark { background-image: url('png/gallery-dark.png'); background-repeat: no-repeat; }

.svg-icon--info-caption { background-image: url('png/info-caption.png'); background-repeat: no-repeat; }

.svg-icon--mobile-smart { background-image: url('png/mobile-smart.png'); background-repeat: no-repeat; }

.svg-icon--movement-dark { background-image: url('png/movement-dark.png'); background-repeat: no-repeat; }

.svg-icon--movement-light { background-image: url('png/movement-light.png'); background-repeat: no-repeat; }

.svg-icon--movement-off-dark { background-image: url('png/movement-off-dark.png'); background-repeat: no-repeat; }

.svg-icon--movement-off-light { background-image: url('png/movement-off-light.png'); background-repeat: no-repeat; }

.svg-icon--newsletter { background-image: url('png/newsletter.png'); background-repeat: no-repeat; }

.svg-icon--next-dark { background-image: url('png/next-dark.png'); background-repeat: no-repeat; }

.svg-icon--pause-dark { background-image: url('png/pause-dark.png'); background-repeat: no-repeat; }

.svg-icon--previous-dark { background-image: url('png/previous-dark.png'); background-repeat: no-repeat; }

.svg-icon--rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.svg-icon--to-bottom { background-image: url('png/to-bottom.png'); background-repeat: no-repeat; }

.svg-icon--twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.svg-icon--video-dark { background-image: url('png/video-dark.png'); background-repeat: no-repeat; }

.svg-icon--video-light { background-image: url('png/video-light.png'); background-repeat: no-repeat; }

